<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zi.mall.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.zi.mall.domain.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="store_count" jdbcType="INTEGER" property="storeCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="shop_price" jdbcType="DECIMAL" property="shopPrice" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="sales_sum" jdbcType="INTEGER" property="salesSum" />
    <result column="is_new" jdbcType="INTEGER" property="isNew" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cat_id, goods_name, store_count, comment_count, market_price, shop_price, cost_price, 
    goods_img, sales_sum, is_new, update_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zi.mall.domain.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zi.mall.domain.GoodsExample">
    delete from t_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zi.mall.domain.Goods">
    insert into t_goods (id, cat_id, goods_name, 
      store_count, comment_count, market_price, 
      shop_price, cost_price, goods_img, 
      sales_sum, is_new, update_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{catId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, 
      #{storeCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{marketPrice,jdbcType=DECIMAL}, 
      #{shopPrice,jdbcType=DECIMAL}, #{costPrice,jdbcType=DECIMAL}, #{goodsImg,jdbcType=VARCHAR}, 
      #{salesSum,jdbcType=INTEGER}, #{isNew,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zi.mall.domain.Goods">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="catId != null">
        cat_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="storeCount != null">
        store_count,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="shopPrice != null">
        shop_price,
      </if>
      <if test="costPrice != null">
        cost_price,
      </if>
      <if test="goodsImg != null">
        goods_img,
      </if>
      <if test="salesSum != null">
        sales_sum,
      </if>
      <if test="isNew != null">
        is_new,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="storeCount != null">
        #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPrice != null">
        #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsImg != null">
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="salesSum != null">
        #{salesSum,jdbcType=INTEGER},
      </if>
      <if test="isNew != null">
        #{isNew,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zi.mall.domain.GoodsExample" resultType="java.lang.Long">
    select count(*) from t_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectHotGoods" resultMap="BaseResultMap">
      select id,goods_name,shop_price,goods_img from t_goods where store_count>0 order by sales_sum desc limit 0,#{sum}
    </select>
  <select id="selectNewGoods" resultMap="BaseResultMap">
    select id,goods_name,shop_price,goods_img from t_goods where store_count>0 and is_new=1 order by create_time desc limit 0,#{sum}
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.catId != null">
        cat_id = #{record.catId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeCount != null">
        store_count = #{record.storeCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null">
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.shopPrice != null">
        shop_price = #{record.shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.costPrice != null">
        cost_price = #{record.costPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsImg != null">
        goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="record.salesSum != null">
        sales_sum = #{record.salesSum,jdbcType=INTEGER},
      </if>
      <if test="record.isNew != null">
        is_new = #{record.isNew,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_goods
    set id = #{record.id,jdbcType=INTEGER},
      cat_id = #{record.catId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      store_count = #{record.storeCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      shop_price = #{record.shopPrice,jdbcType=DECIMAL},
      cost_price = #{record.costPrice,jdbcType=DECIMAL},
      goods_img = #{record.goodsImg,jdbcType=VARCHAR},
      sales_sum = #{record.salesSum,jdbcType=INTEGER},
      is_new = #{record.isNew,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zi.mall.domain.Goods">
    update t_goods
    <set>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="storeCount != null">
        store_count = #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPrice != null">
        shop_price = #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null">
        cost_price = #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsImg != null">
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="salesSum != null">
        sales_sum = #{salesSum,jdbcType=INTEGER},
      </if>
      <if test="isNew != null">
        is_new = #{isNew,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zi.mall.domain.Goods">
    update t_goods
    set cat_id = #{catId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      store_count = #{storeCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      shop_price = #{shopPrice,jdbcType=DECIMAL},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      sales_sum = #{salesSum,jdbcType=INTEGER},
      is_new = #{isNew,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>